{% extends "base.html.twig" %}
{% block body %}

<div class="w-75 m-auto">
    <h1 class="m-3 text-center">
        Permet de ranger trois fichier primaire : downloads,
        desktop,et documents.
    </h1>
    <ul>
        <li>downloads: range tout les downloads selon des fichier indetifier par use_docs
        (crée si cela n'est pas déja le cas)</li>
        <li>documents: range tout les documents selon des fichier indetifier par use_docs
        (crée si cela n'est pas déja le cas)</li>
        <li>desktop:Replace toute les fichiers du desktop dans le fichier documents puis range
        tout les documents selon des fichier indetifier par use_docs
        (crée si cela n'est pas déja le cas)</li>
    </ul>
    {% for keys, contents in content_downloads %}
    <h2 class="m-3 text-center">contenu : {{keys}} </h1>
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th class="col fs-4 p-3">Type de contenu</th>
                <th class="col fs-4 p-3">chemin du fichier</th>
                <th class="col fs-4 p-3">contenu de premier niveau</th>
                <th class="col fs-4 p-3">contenu de deuxieme niveau</th>
            </tr>
        </thead>
        <tbody>
            {% for key, content in contents %}
            {% for sub_content in content %}
            <tr>
                <td>{{ sub_content.type }}</td>
                <td>{{ sub_content.root }}</td>
                <td>{{ sub_content.file }}</td>
                <td>
                    <ul>
                        {% for sub_file in sub_content.sub_file %}
                        <li>{{sub_file}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
        <caption class="m-5 mt-1"> path : {{contents.1}} </caption>
    </table>
    {% endfor %}

    <form class="d-flex flex-column bd-highlight " action="" method="post">
            <select class="form-select-lg m-3 mt-0" name="file_to_organize" id="file_to_organize" required>
                <option disabled selected>fichier à organisé</option>
                {% for keys, contents in content_downloads %}
                <option value="{{keys}}">{{keys}}</option>
                {% endfor %}
            </select>
        <input class="col btn btn-primary fs-5 m-2" type="submit" name="sub" value="-> Ranger les fichiers">
    </form>
</div>
{% endblock %}